Screen {
    layers: below above override
}

MPVStreamPlayer {
    layer: above;
}

ContentSwitcher > * {
    width: 1fr;
    height: 1fr;
}

#app-grid {
    grid-size: 2 1;
    grid-rows: 1fr;
    grid-columns: 7 1fr;
    height: 1fr;
}

Homepage Grid{
    grid-size: 2 2;
    grid-columns: 8fr 2fr;
    grid-rows: 15 1fr
}
